@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar {
  width: 14px;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: red;
}

.news::-webkit-scrollbar {
  height: 0px;
}

